@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    font-style: normal;
    src: url(/font/SpoqaHanSansNeo-Thin.ttf);
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 200;
    font-style: normal;
    src: url(/font/SpoqaHanSansNeo-Light.ttf);
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    font-style: normal;
    src: url(/font/SpoqaHanSansNeo-Regular.ttf);
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    font-style: normal;
    src: url(/font/SpoqaHanSansNeo-Medium.ttf);
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    font-style: normal;
    src: url(/font/SpoqaHanSansNeo-Bold.ttf);
}

/* 노말라이즈 */
body,ul,li,p,span,h1,h2,h3 {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}



/* 공통 */
*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Spoqa Han Sans Neo';
    max-width: 100vw;
    overflow: hidden;
    word-break: keep-all;    
}

img {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.sub {
    line-height: 1.4;
    margin-top: 32px;
}



/* 변수 */
:root {
    --black-bg: #222;
    --bg: #F7F4EF;
    --txt: #6B6966;
    --green: #C3CEB7;  
}




/* 커스텀 */
/* header 시작 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: top .3s ease-in-out;
}

header.up {
    top: -30px;
}

/* h-top 시작 */
header .h-top {
    width: 100%;
    height: 30px;
    background-color: var(--black-bg);
    a {
        width: 100%;
        height: 100%;        
        display: flex;
        justify-content: center;
        align-items: center;  
    }  
}

header .h-top span {
    color: #fff;
    font-size: 13px;
    font-weight: 200;
}
/* h-top 끝 */


/* h-main 시작 */
header .h-main {
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-inline: 30px;
    position: relative;
}


header .h-main .logo {
    width: 154px;
}

header .h-main .gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .h-main .gnb ul {
    display: flex;
    gap: 60px;
}

header .h-main .gnb ul a {
    color: var(--text-black);
    font-weight: 400;
}

header .h-main .icons {
    display: flex;
    gap: 20px;
}

header .h-main .icons a {
    width: 40px;
    height: 40px;
}

header .h-main .icons .menu-bar {
    cursor: pointer;
}

header.up .h-main {
    background-image: linear-gradient(to bottom, rgba(244, 247, 239, 0.7), transparent);
    backdrop-filter: blur(1.5px);
}

@media screen and (max-width: 1210px) {
    header .h-main .gnb ul {
        gap: 32px;
    }
}

@media screen and (max-width: 990px) {
    header .h-main .logo {
        width: 130px;
    }

    header .h-main .gnb {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    header .h-main {
        height: 50px;
        padding-inline: 20px;
    }

    header .h-main .logo {
        width: 100px;
    }

    header .h-main .icons {
        gap: 12px;
    }

    header .h-main .icons a {
        width: 30px;
        height: 30px;
    }

    header .h-main .icons .menu-bar {
        width: 30px;
        height: 30px;
    }
}

/* h-main 끝 */
/* header 끝 */



.scroller {
    height: 100vh;
    width: 100%;
    overflow: hidden !important; 
}

/* video시작 */
.video {
    height: 100vh;    
    overflow: hidden;    
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video .video-box {   
    position: relative;  
    width: 100vw;
    padding-bottom: 77%;
    overflow: hidden;  
}


.video .video-box .thumbnail,
.video .video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100% !important;
    height: 100% !important;
    border: none;
    object-fit: cover;
}

.video .video-box .mo {
    display: none;
}

.video .video-box .thumbnail {
    z-index: 2;
    transition: opacity .3s ease;
}

.video .video-box iframe {
    z-index: 1;
}

.video .title {
    position: absolute;
    top: 60vh;
    z-index: 30;
    color: var(--bg);
    text-align: center;
}

.video .title > span {
    font-size: clamp(34px, 6vw, 80px);
    font-weight: 400; 
}

.video .title p {    
    text-align: center;
    margin-top: 42px;   
    span {
        font-size: clamp(14px, 1.6vw, 18px);
        font-weight: 300;
        line-height: 1.7; 
        opacity: 0;
    }
}

.video .title .mx-550 {
    display: none;
}

@media screen and (max-width: 1260px) {
    .video .video-box {   
        padding-bottom: 177%;
    }

    .video .video-box .pc {
        display: none;
    }

    .video .video-box .mo {
        display: block;
    }
}

@media screen and (max-width: 780px) {
    .video .title p {    
        margin-top: 28px;  
    }    
}

@media screen and (max-width: 550px) {
    .video .title p {
        letter-spacing: -1px;
    }
    
    .video .title .mx-550 {
        display: block;
    }
}

/* video 끝 */

/* section-1 시작 */
.sec-1 {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--bg);
    text-align: center;
}

.sec-1 h1 {
    font-size: 50px;
    font-weight: 400;
    color: var(--txt);
    margin-bottom: 130px;
}

.sec-1 .swiper {
    margin-inline: 20px;
}

.sec-1 .swiper .swiper-slide {
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.sec-1 .swiper .slide-1 {
    color: #717E8F;
}

.sec-1 .swiper .slide-2 {
    color: #5181AE;
}

.sec-1 .swiper .slide-3 {
    color: #5F6F55;
}

.sec-1 .swiper .slide-4 {
    color: #75828E;
}

.sec-1 .swiper .slide-5 {
    color: #82664F;
}

.sec-1 .swiper .swiper-slide .left {
    max-width: 450px;
}

.sec-1 .swiper .swiper-slide .left .top .title {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 24px;
}

.sec-1 .swiper .swiper-slide .left .top .sub {
    font-size: 14px;
    font-weight: 400;
}

.sec-1 .swiper .swiper-slide .left .bottom {
    margin-top: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}

.sec-1 .swiper .swiper-slide .left .bottom .mx-990 {
    display: none;
}

.sec-1 .swiper .swiper-slide .right {
    max-width: 350px;
    max-height: 350px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.sec-1 .swiper .swiper-slide .right .icon {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
}

.sec-1 .swiper .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 104px;
    margin-top: 100px;
    position: relative;
    z-index: 10;
}

.sec-1 .swiper .swiper-pagination span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    opacity: 0.17;
    transition: opacity 0.3s ease;
}

.sec-1 .swiper .swiper-pagination img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.sec-1 .swiper .swiper-pagination .swiper-pagination-bullet {
    background: none;
}

.sec-1 .swiper .swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1; 
}

.sec-1 .swiper .swiper-pagination .swiper-pagination-bullet-1 {
    background-color: #717E8F;
}

.sec-1 .swiper .swiper-pagination .swiper-pagination-bullet-2 {
    background-color: #5181AE;
}

.sec-1 .swiper .swiper-pagination .swiper-pagination-bullet-3 {
    background-color: #5F6F55;
}

.sec-1 .swiper .swiper-pagination .swiper-pagination-bullet-4 {
    background-color: #75828E;
}

.sec-1 .swiper .swiper-pagination .swiper-pagination-bullet-5 {
    background-color: #82664F;
}

@media screen and (max-width: 990px) {
    .sec-1 {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .sec-1 h1 {
        font-size: 40px;
        margin-bottom: 100px;
    }

    .sec-1 .swiper .swiper-slide .left .top .title {
        font-size: 28px;
    }
    
    .sec-1 .swiper .swiper-slide .left .bottom {
        margin-top: 48px;
        font-size: 16px;        
    }

    .sec-1 .swiper .swiper-slide .left .bottom .mx-990 {
        display: block;
    }

}


@media screen and (max-width: 780px) {
    .sec-1 {
        padding-top: 120px;
        padding-bottom: 100px;
    }

    .sec-1 h1 {
        font-size: 32px;
        margin-bottom: 80px;
    }

    .sec-1 .swiper .swiper-slide {
        flex-direction: column;
        gap: 50px;
    }
    
    .sec-1 .swiper .swiper-slide .left .top .title {
        font-size: 24px;
    }

    .sec-1 .swiper .swiper-slide .left .bottom {
        margin-top: 32px;
    }

    .sec-1 .swiper .swiper-slide .right {
        max-width: 180px;
        max-height: 180px;
    }   

    .sec-1 .swiper .swiper-pagination {
        gap: 50px;
        margin-top: 60px;
    }

    .sec-1 .swiper .swiper-pagination span {
        width: 30px;
        height: 30px;
    }
    
    .sec-1 .swiper .swiper-pagination img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 440px) {
    .sec-1 .swiper .swiper-slide {
        gap: 35px;
    }

    .sec-1 .swiper .swiper-slide .left .bottom {
        margin-top: 32px;
        line-height: 1.7;
    }

    .sec-1 .swiper .swiper-slide .right {
        max-width: 140px;
        max-height: 140px;
    }

    .sec-1 .swiper .swiper-pagination {
        gap: 24px;
        margin-top: 40px;
    }
}

/* section-1 끝 */


/* section-2 시작 */
.sec-2 {
    padding-top: 140px;
    padding-bottom: 150px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s ease-in-out;
}


.sec-2 .title {
    font-size: 36px;
    font-weight: 400;
    color: var(--txt);    
}

.sec-2 .sub {
    color: var(--txt);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    strong {
        font-weight: 400
    };
}

.sec-2 .main {
    margin-inline: auto;
    margin-top: 140px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
}

.sec-2 .main .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}


.sec-2 .main .left .name {
    text-align: left;
    max-width: 672px;
    min-height: 246px;
}

.sec-2 .main .left .name span {
    font-size: 24px;
    font-weight: 400;
    color: #5c5c5c;
}

.sec-2 .main .left .name .info {
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    color: #5c5c5c;
    margin-top: 24px;
    text-align: left;    
}

.sec-2 .main .left .name .address {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin-top: 30px;
}

.sec-2 .main .left .product {
    background-color: rgba(207, 207, 207, 0.7);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sec-2 .main .left .product .p-title {
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
}

.sec-2 .main .left .product img {
    width: 154px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sec-2 .main .left .product .p-name {
    font-size: 14px;
    font-weight: 300;
}

.sec-2 .main .main-3 .product ul {
    display: flex;
}

.sec-2 .main .right {
    width: 595px;
    aspect-ratio: 595 / 357;
    background-image: url(/오설록images/차밭.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.sec-2 .main .right .field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity .2s;
}

.sec-2 .main .right .field.active {
    opacity: 1;
}

.sec-2 .main .right .field > img {
    width: 32px;
    height: 36px;
    animation: ani 1.6s ease-in-out infinite;
}

.sec-2 .main .right .field.active > img {
    animation: none;
}

@keyframes ani {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-6px); 
    }
    100% {
        transform: translateY(0);
    }
}


.sec-2 .main .right .field span {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.sec-2 .main .right .field-1 {
    top: 55%;
    left: 17%;
}

.sec-2 .main .right .field-2 {
    top: 58.6%;
    left: 38%;
}

.sec-2 .main .right .field-3 {
    top: 45.5%;
    left: 63%;
}
/* section-2 끝 */



/* section-3 시작 */
.sec-3 {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--bg);
    position: relative;
}

.sec-3 .title {
    font-size: 36px;
    font-weight: 400;
    color: var(--txt);
    text-align: center;
}

.sec-3 .sub {
    font-size: 16px;
    font-weight: 300;
    color: var(--txt);
    text-align: center;
}

.sec-3 .main {    
    width: 100%; 
    position: relative;
    margin-top: 100px;
}


.sec-3 .main .item { 
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    max-width: 722px;    
    margin: 0 auto;
}


.sec-3 .main .item .top > span {
    color: var(--txt);
}

.sec-3 .main .item .top > .sura {
    font-family: "Sura", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
}

.sec-3 .main .item .top > span:last-child {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    margin-left: 13px ;
}

.sec-3 .main .item .bottom {
    display: flex;
    gap: 20px;
    max-width: 722px;
    max-height: 455px;
}

.sec-3 .main .item .bottom .left,
.sec-3 .main .item .bottom .right {
    width: 50%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
}

.sec-3 .main .item .bottom .left > img,
.sec-3 .main .item .bottom .right > img {
    width: 100%;
    position: relative;
    z-index: -1;
}


.sec-3 .main .item .bottom .txt {
    width: 245px;
    position: absolute;
    bottom: 5.2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;    
}

.sec-3 .main .item .bottom .txt .info {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    small {
        display: inline-block;
        font-size: 12px;
        margin-top: 20px;
    }
}

.sec-3 .main .item .bottom .txt .txt-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 35px;
}
/* section-3 끝 */


/* section-4 시작 */
.sec-4 {
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: linear-gradient(to bottom, #F7F4EF 0%, #C3CEB7 52%, #C3CEB7 100%);
}

.sec-4 .title {
    color: var(--txt);
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

.sec-4 .sub {
    color: var(--txt);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.sec-4 .timeline-swiper {
    margin-top: 150px;
    position: relative;
    left: 15%;
    height: 686px;    
}

.sec-4 .timeline-swiper .line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    background-color: var(--txt);
    z-index: 10;
    width: 0;
    opacity: 0;
}


.sec-4 .timeline-swiper .line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--txt);
    overflow: hidden;
}

.sec-4 .timeline-swiper .line::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--txt);
    overflow: hidden;
}


.sec-4 .timeline-swiper .swiper-slide {
    width: 300px;
    height: 293px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    position: relative;
}


.sec-4 .swiper-wrapper .margin-left-60 {
    margin-left: 60px !important;
}

.sec-4 .swiper-wrapper .margin-left-200 {
    margin-left: 150px !important;
}

.sec-4 .timeline-swiper .top::before {
    content: "";
    position: absolute;
    top: 100%;
    transform: translateY(25px);
    height: 20px;
    border: 1px dashed var(--txt);
}

.sec-4 .timeline-swiper .top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50% , 47px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--txt);
    overflow: hidden;
}

.sec-4 .timeline-swiper .bottom {
    transform: translateY(376px);
}

.sec-4 .timeline-swiper .bottom::before {
    content: "";
    position: absolute;
    bottom: 100%;
    transform: translateY(-25px);
    height: 20px;
    border: 1px dashed var(--txt);
}

.sec-4 .timeline-swiper .bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50% , -47px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--txt);
    overflow: hidden;
}


.sec-4 .swiper-slide ul {
    display: flex;
    gap: 30px;
}

.sec-4 .swiper-slide ul > li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.sec-4 .swiper-slide .img-box {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    overflow: hidden;
}

.sec-4 .swiper-slide .txt {
    width: 100%;
    text-align: center;
}

.sec-4 .swiper-slide .txt > span {
    font-size: 20px; 
    font-weight: 500;
    color: var(--txt);
}

.sec-4 .swiper-slide .txt > p {
    font-size: 14px; 
    font-weight: 300;
    color: var(--txt);
    text-align: center;
    margin-top: 6px;
}
/* section-4 끝 */



/* section-5 시작 */
.sec-5 {
    padding-top: 200px;
    padding-bottom: 130px;
    background-image: linear-gradient(to bottom, #C3CEB7 0%, #F7F4EF 45%, #F7F4EF 100%);
    color: var(--txt);    
}

.sec-5 .inner {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;   
    margin: 0 auto;
    padding-inline: 20px;
}

.sec-5 .left {
    max-width: 530px;
}

.sec-5 .left .title {
    font-size: 40px;
    font-weight: 400;
}

.sec-5 .left .sub {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}

.sec-5 .right {
    width: 100%;
    max-width: 595px;
    margin: 0;
}

.sec-5 .meet-swiper .swiper-slide > p {
    text-align: center;
    margin-top: 26px;
    font-size: 14px;
    font-weight: 300;
}

@media screen and (min-width:780px) {
    .sec-5 .right {
        min-width: 340px;
    }
}

@media screen and (max-width:780px) {
    .sec-5 .inner {
        flex-direction: column;
    }
}
/* section-5 끝 */



/* section-6 시작 */
.sec-6 {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-inline: 20px;
    background-image: linear-gradient(to bottom, #F7F4EF, #fff);
}

.sec-6 .inner ul {
    display: grid;    
    grid-template-columns: repeat(4, 1fr);  
    justify-items: center;
}

.sec-6 .inner ul > li {
    width: 100%;
    max-width: 470px;
    height: 1014px;
    display: flex;
    flex-direction: column;
}

.sec-6 .inner ul > li img {
    width: 100%;
}

.sec-6 .inner ul > li:first-child > div:first-child {
    flex-basis: 25%;
}

.sec-6 .inner ul > li .img1 {
    flex-basis: 50%;
}

.sec-6 .inner ul > li .img2 {
    flex-basis: 25%;
}

.sec-6 .inner ul > li .img3 {
    flex-basis: 60%;
}

.sec-6 .inner ul > li .img4 {
    flex-basis: 20%;
}

.sec-6 .inner ul > li .img5 {
    flex-basis: 20%;
}

.sec-6 .inner ul > li .img6 {
    flex-basis: 50%;
}

.sec-6 .inner ul > li .img7 {
    flex-basis: 50%;
}

.sec-6 .inner ul > li .img8 {
    flex-basis: 40%;
}

.sec-6 .inner ul > li .img9 {
    flex-basis: 30%;
}

.sec-6 .inner ul > li .img10 {
    flex-basis: 30%;
}

.sec-6 .inner ul > li .title {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--txt);
}

.sec-6 .inner ul > li .sub {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: var(--txt);
    margin-bottom: 20px;
}

.sec-6 .inner ul > li .has-txt {
    position: relative;
}

.sec-6 .inner ul > li .has-txt > div {
    position: absolute;
    bottom: 28px;
    left: 28px;
    width: 70%;
    color: #fff;
}

.sec-6 .inner ul > li .has-txt > div > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 53px;
}

.sec-6 .inner ul > li .has-txt > div > span {
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 990px) {
    .sec-6 .inner ul {
        grid-template-columns: repeat(2, 1fr);  
    } 
}

@media screen and (max-width: 680px) {
    .sec-6 .inner ul {
        grid-template-columns: repeat(1, 1fr);  
    } 

    .sec-6 .inner ul .mx-680 {
        display: none;
    }
}

/* section-6 끝 */


/* section-7 시작 */
.sec-7 {
    padding-top: 100px;
    padding-bottom: 200px;
}

.sec-7 .inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 160px;
    margin: 0 auto;
    color: var(--txt);
}

.sec-7 .left {
    font-size: 32px;
    font-weight: 400;
}

.sec-7 .right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.sec-7 .right > a {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.sec-7 .right > a::after {
    content: "";
    display: inline-block;
    margin-left: 8px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--txt);
    background-image: url(/오설록images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.sec-7 .right span {
    font-size: 22px;
    font-weight: 300;
}

@media screen and (max-width: 780px) {
    .sec-7 .inner {
        gap: 60px;
    }

    .sec-7 .left {
        font-size: 24px;
    }

    .sec-7 .right span {
        font-size: 16px;
    }
}

/* section-7 끝 */